@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');



:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
}

.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* APP STYLES */


/*.container {*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  color: var(--color-text);*/
/*  background-color: var(--color-bg);*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/


.app {
  width: 100%;
  max-width: 1280px;
  height: 88vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}


.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: var(--color-dark);
  font-weight: 800;
  text-align: center;
}

.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}


/* FILTER STYLES */

.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.filter-title,
.filter-count {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;


}

.filter-count {
  font-size: 24px;
  color: var(--color-gray);
  position: absolute;
  left: 150px;
  top: 145px;
}


.filter-list {
  padding: 0;
  margin: 16px 0;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.filter-list::-webkit-scrollbar {
  display: none;
}

.filter-list-item {
  border-bottom: 1px solid  var(--color-border);
  margin-bottom: 12px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.filter-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.filter-list-item h3,
.filter-list-item p span {
  font-weight: 600;
}


.filter-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.filter-list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  /*bottom: 24px;*/
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.floating-button > svg {
  fill: var(--color-bg);
}



/*==============================
=>  Note Styles
================================*/

.note-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.note-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.note-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.note-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.note textarea {
  background-color: var(--color-white);
  border: none;
  padding: 16px 12px;
  width: 100%;
  height: 70vh;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.note textarea:active,
.note textarea:focus {
  outline: none;
  border: none;
}

.note textarea::-webkit-scrollbar {
  display: none;
}

.figure {
  margin:2px;
  display:inline-block;
  vertical-align:top;
}


.btn.btn1{
  text-align: left;
  padding: 0;
  margin: 0;
  background-color: var(--color-white);
}

.btn-group{
  display: block;
  width: 100%;
  margin-inside: 0;
}

.search input {
  background-color: white;
  /*border: 0;*/
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 14px;
  padding: 15px;
  height: 30px;
  width: 300px;
  display: flex;
}

.searchIcon {
  height: 30px;
  width: 30px;
  background-color: gray;
  display: grid;
  place-items: center;
  border: 0;
  /*padding-right: 50px;*/
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}

.searchInputs {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 0px;
  /*box-shadow: 0px 0px 8px #ddd;*/
  background-color: black;
  display: flex;
  align-items: center;
}

.dates-box {
  position: absolute;
  top: 190px;
  right: 200px;
  /*left: 150px;*/

}

.subsidiary-test {

  background-color: var(--color-bg);
  border-style: solid;
  border-width: 1px;
}

p{
/*padding: 7px;*/
text-align: justify; }
.left{
width: 50%;
float: left; }
.right{
width: 50%;
float: right; }

.th-lg {
  width: 35%;
}

.th-sm {
  width: 10%;
}

.td-sm {
  width: 10%;
}

.unselectable {
   background-color: #ddd;
   cursor: not-allowed;
}


input{
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-size: 1.2rem;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}